/Activision
/An extract from a literature review I wrote.pdf
/An extract of my writing from my extended project.pdf
/Custom Office Templates
/Default.rdp
/desktop.ini
/Freeze Tag.txt
/Mirrors Edge Catalyst
/My Games
/Obsidian Vault
/personalstatement.docx
/Presentation1.png
/Rockstar Games
/Visual Studio 2022